body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    height: 70px ;
    width: auto;
}

img {
    height: 250px;
    width: 500px;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container1 div {
    width: 500px;
}

.illustration {
    height: 200px;
    width: 200px;
}

.container3 {
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illustrations {
    display: flex;
    gap: 20px;
}

.illustration-and-text {
    text-align: center;
    width: 200px;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
}

.container3 h2 {
    font-size: 36px;
    font-weight: bolder;
}

.quote-box {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote-box q {
    font-size: 36px;
    font-family: "light italic";
    color: #1f2937;
}

.quote-box p {
    text-align: right;
    font-weight: bold;
}

.call-to-action {
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

