body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.logo {
    height: 70px ;
    width: auto;
}

img {
    height: 250px;
    width: 520px;
}

.top {
    padding: 10px 15vw 15vh 15vw;
    display: flex;
    gap: 8vh;
    flex-direction: column;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.links {
    display: flex;
    gap: 16px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.container1 div {
    width: 500px;
}

.illustration {
    height: 200px;
    width: 200px;
}

.container3 {
    padding: 0 0 12vh 0;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illustrations {
    display: flex;
    gap: 35px;
}

.illustration-and-text {
    text-align: center;
    width: 200px;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
    width: 8vw;
    height: 6vh;
    border-radius: 10px;
    font-size: 16px;
}

.container3 h2 {
    font-size: 36px;
    font-weight: bolder;
}

.quote-box {
    padding: 12vh 20vw;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote-box q {
    font-size: 36px;
    font-family: "light italic";
    color: #1f2937;
}

.quote-box p {
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}

.call-to-action {
    margin: 12vh 16vw;
    padding: 3vh 8vw;
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action button {
    border: 2px white solid;
}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

